<%= form_with model: @project do |form| %>
    <div>
        <strong>Project Name</strong>
        <%= form.text_field :name, class:'form-control'%>
    </div>

    
  
    <strong>Select Company</strong>

    <div class="row">
            <%= collection_check_boxes(:project, :company_ids, Company.all,:id,:name) do |b|%>
                <%#=b.inspect%>
                    <%= b.label class:"label-checkbox" do%>
                    <%= b.text!="" ? b.check_box + b.text : "" %>
                <%end%> 
            <%end%>
        </div>
    <div>
        <%= form.submit class:'btn btn-success my-3' %>
    </div>
<%end%>