<div class="container my-3">
<%= render 'form' %>

    <table class="table">
        <tr>
            <th>Project Name</th>
            <th>Project Companies</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <% @projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.companies.pluck(:name).reject(&:blank?).join(',') %></td>    
                <td><%= link_to 'Edit', edit_project_path(project) %></td>
                <td><%= link_to 'Delete',project_path(project), method: :delete %></td>
            </tr>
        <% end %>
    </table>

</div>

    

