<%= form_with model: @company do |form| %>
    <div>
        <strong>Company Name</strong>
        <%= form.text_field :name, class:'form-control'%>
    </div>

    <div>
        <strong>Company Employees Number</strong>
        <%= form.text_field :e_count, class:'form-control' %>
    </div>

    <div>
        <strong>Company Address</strong>
        <%= form.text_field :address, class:'form-control' %>
    </div>

    <div>
       <%#= form.fields_for @company.projects.build, id:'nested-field' do |project_form| %>
            <strong>Select Project</strong>
            <%#= project_form.text_field :name, class:'form-control', name: 'company[projects][0][name]' %>
            

        <%# end %>
        <%= collection_check_boxes(:company, :project_ids, Project.all,:id,:name)%>
    </div>

    <div>
        <%= form.submit class:'btn btn-success my-3' %>
    </div>
<%end%>