<div class="container my-3">
    <%= link_to 'Teacher',teachers_path, class: 'btn btn-primary' %>
    <%= link_to 'Subject' ,subjects_path, class: 'btn btn-primary'  %>

    <h3>Create Tution</h3>
    <%= render 'form'%>
    <table class="table">
        <tr>
            <th>Tution Name</th>
            <th>Tution Address</th>
            <th>Teachers</th>
            <th>Subjects</th>
            <th>Delete</th>
        </tr>

        <%@tutions.each do |tution|%>
        <tr>
            <td><%= tution.name %></td>
            <td><%= tution.address %></td>
            <td><%= tution.teachers.pluck(:name).join(',') %></td>
            <td><%= tution.subjects.pluck(:name).join(',') %></td>
            <td><%= link_to 'Delete', tution_path(tution), method: :delete %></td>
        </tr>
        <%end%>
    </table>
</div>
